@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0 ;

}
*::after,
*::before{
      box-sizing: border-box;
}

a{  text-decoration: none;
}
a>i:hover{
   color: rgba(154, 122, 155, 0.651);
}
a:hover{
    background-color: rgba(17, 15, 15, 0.481);
}
button:hover{
    background-color: rgba(17, 15, 15, 0.481);
    border-radius: 12px;
}
.f-h:hover{
    opacity: 0.6;
    border-radius: 1em;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}

li{
    list-style: none;
}
body{
    font-family: 'Montserrat'
}
header {
    font-size: 16px;
    padding: 2.68em 2em 2.25em;

}
.head{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 0.56em  3.875em ;
    background: black;
    color: #ffffff;
}
.menu-btn{
    height: 1.3125em;
    display: block;
    margin-right: 2em;
    height: 25px;
    width: 25px;
}
.menu{
    display: none;
}
.menu-a{
    font-family: "Poppins";
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0em;
    color: #000000;

}
.conteiner{
    max-width: 390px;
    margin: 0 auto;
}
.head-r{
    display: flex;
    column-gap: 1.5em;
}
.head-r img{
    height: 1.3125em;
}
.bag{
    width: 1em;
}
.pedali{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.build{
    display: flex;
    flex-direction: column;
    max-width: 18.57em;
    margin-top: 1,6775em;
    align-self: center;
    align-items: center;
}
.build>h1{
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: center;
}
.build h4{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;

}
.comp-shoe{
    display: none;
}
.shop-now{
    padding: 0.6835em 2.9375em 0.6835em 1.9375em ;
    background: black;
    border-radius: 15px;
    width: 12.1875em;
    margin-top: 2.125em; 
    margin-bottom: 2.5em;
}
.shop-now>a{

    color: #ffffff;
    Font-family: "Poppins";
    Font-size: 18px;
}
.women-men{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1.6em;
}
.content{
    padding: 0 1.5em;
}
.women{
    background: url(../img/1.png);
}
.men{
    background: url(../img/2.png);
}
.img{
    padding: 1.56em 0.625em 0.8125em 1.25em;
    width: 342px;
    height: 342px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img>h2{
    font-size: 2.5em;
    color: #ffffff;
}
.women>a{
    font-family: "Poppins";
    font-size: 1.125em;
    align-self: flex-end;
    color: black;
}
.men>a{
    font-family: "Poppins";
    font-size: 1.125em;
    color: #ffffff;
}
.h2-text{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 2.8125em;
    margin-bottom: 0.625em;
}
.slider{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
    column-gap: 1em;
}
.slider::-webkit-scrollbar-thumb {
    background: #000000;
}

.scroll::-webkit-scrollbar{
    background-color: #E1E1E1;
    height: 7px;
}

.product-card{
    scroll-snap-align: center;
    font-family: "Poppins";
}
.product-card>h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.product-card>h4{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.3125em auto 5em;;
    text-align: center;
    align-self: center;
    max-width: 21.349em;
}
.join{
    margin-top: 2.25em;
    margin-bottom: 5em;
    padding: 14px 24px 13px 23px;
    border: 2px solid #000000;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}
footer{
    background: #000000;
}
.foot{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 47px;
    justify-content: space-between;
}
.foot-l{
    display: flex;
    flex-wrap: wrap;
}
.f-c{
    width: 10.1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.f-c>h4{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #c4c4c486;
}
.wh{
    Font-family: "Poppins";
    Font-style: Medium;
    Font-size: 14px;
    Line-height: 25px;
    Line-height: 119%;
    color: #FFFFFF;
}
.wh:hover{
    color: #5e5fb4bd;
}
.m>li{
    margin-bottom: 0.7em;
}
.f-l>h4{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #c4c4c486;
    margin-bottom: 1em;
}

.f-l>a{
    margin-right: 1em;
}
.inc{
    margin: 2.6875em auto 0;
    padding-bottom: 0.75em;
    text-align: center;
}
@media screen and (min-width: 900px) {
.build>h1{
        font-weight: 800;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -0.05em;
        text-align: left;
    }
.pedali{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.build{
    align-items: flex-start;
    margin-top: 13em;
}
    .conteiner{
        max-width: 1920px;
    }
    .img{
        width: 49%;
    }
    .menu-btn{
        display: none;
    }
    .menu{
        display: flex;
        align-items: center;
        column-gap: 2.5em;
        width: 33%;
    }
.head-r{
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
    .mob-shoe{
        display: none;
    }
.comp-shoe {
    display: block;
}
.comp-shoe>img{
 width: 90%;
}
    
.f-c {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
.shop-now{
        margin-bottom: 8em;
    }

}
   